html[data-theme='dark'] {
    --text-color-1: #f5f5f5;
    --text-color-2: #dddddd;
    --text-color-3: #cacaca;
    --text-color-4: #333;
    --text-color-5: #333;

    --background-color-1: #3a3a3a;
    --background-color-2: #000000;
    --background-color-3: #111;
    --background-color-4: #111;
    --background-color-5: #111;
    --background-color-6: #0a0a0a;

    --border-color-1: #f5f5f5;
    --border-color-2: #dddddd;
    --border-color-3: #333;
    --border-color-4: #333;
    --border-color-5: #333;

    --boxshadow-color-1: #ffffff;
    --boxshadow-color-2: #e8e8e8;
    --boxshadow-color-3: #ffffff;
    --boxshadow-color-4: #333;
    --boxshadow-color-5: #333;

    --hover-color-1: #333;
    --hover-color-2: #333;
}